# Node modules in any directory
node_modules/
**/node_modules/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
**/.env
**/.env.*

frontend/.next
.next/
**/.next*